* {
    padding: 0;
    margin: 0;
}

:root {
    --marron: #484041;
    --card: #383640;
    --beige: #E0D8D0;
}

a {
    color: white;
}

header {
    background-color: var(--marron) !important;
    color: white;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", monospace;
}

.image {
    width: 5rem;
    border-radius: 60%;
}

main {
    width: 80vw;
    margin: auto;
}

body {
    background-color: var(--beige);
    font-family: "Montserrat", sans-serif;
}

.txt {
    width: 33rem;
    text-align: justify;
}

.container {
    display: flex;
    margin-top: 2rem;
    gap: 10rem;
    row-gap: 5rem;
    flex-wrap: wrap;
}

.card-taille {
    width: 30rem;
    height: 10rem;
    text-align: center;
    padding-bottom: 2rem;
}

.card {
    background-color: var(--card);
    color: white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 2rem;
}

.mid_card {
    display: flex;
    justify-content: center;
    gap: 3rem;
    text-align: left;
}

.link {
    background-color: var(--card);
    color: white;
    width: 6rem;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    text-decoration-line: none;
    border: 3px var(--card) solid;
}

.link:hover {
    background-color: var(--beige);
    color: var(--card);
}


.pied {
    background-color: var(--marron);
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    margin-top: 2rem;
    color: white;
    flex-wrap: wrap;
    font-family: "Roboto Mono", monospace;
}

/* Autres */
hr {
    margin: 2rem 0rem;
    border-color: var(--marron);
    width: 100%;
}

.flex-vertical {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-horizon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-center {
    justify-content: center;
}

.flex-gab {
    gap: 5rem;
    row-gap: 1rem;
}

.t1 {
    width: 30rem;
    padding: 2rem;
    line-height: 2rem;
    
}

.txt-justify {
    text-align: justify;
}

.card>ul {
    text-align: left;
    margin: auto;
}

.mauto {
    margin: auto;
    width: max-content;
    margin-bottom: 2rem;
}

.txt-size {
    font-size: larger;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

.gras{
    font-weight: 700;
}
.italik{
    font-style: italic;
}

a{
    text-decoration: none;
}

.separate{
    padding-bottom: 1rem;
}