*{
    padding: 0;
    margin: 0;
}

header{
    background-color: #484041 !important; 
    color: white;
    display: flex;
    gap: calc(2rem);
    justify-content: center;
}

.image{
    width: 5rem;
    border-radius: 60%;
}

body{
    font-family: sans-serif;
    background-color: #E0D8D0;
}
/* .test{
    display: flex;
    flex-direction: row;
} */